.slider {

}

.container {
  display: flex;
  flex-direction: column;
}

/*****************************************************************************************/
/* FOOTER BLOCK */
/*******************************************************************************************/

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 304px;

  @media (max-width: 1920px) {
    padding-top: 255px;
  }
}

/*****************************************************************************************/
/* CHANGE SLIDE BLOCK */
/*******************************************************************************************/

.changeSlide {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: 0;
  top: 10px;

  .line {
    width: 234px;
    height: 1px;
    background: #F5EBE9;
    margin-left: 10px;
    margin-right: 30px;

    @media (max-width: 1920px) {
      width: 170px;
    }
  }

  .arrow {
    width: 47px;
    height: 47px;
    border: 2px solid #F5EBE9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
  }

  .number {
    font-family: Noto Serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FF715B;
  }
}