.places {
  margin-bottom: 200px;
}

.container {
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-family: Noto Serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: #2C2C2C;
  margin-bottom: 300px;

  @media (max-width: 1920px) {
    margin-bottom: 200px;
  }
}

.place__btn {
  transform: translateY(-100%);
}