.cities {
  margin-top: 294px;
  margin-bottom: 200px;

  @media (max-width: 1920px) {
    margin-top: 200px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 75px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 75px;
  position: relative;

  &__title {
    font-family: Noto Serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: #2C2C2C;
    margin-bottom: 40px;

    @media (max-width: 1920px) {
      font-size: 40px;
      margin-bottom: 20px;
    }

    span {
      color: #FF715B;
    }
  }

  &__text {
    font-family: Product Sans;
    font-size: 18px;
    line-height: 26px;
    color: #A79997;
    margin-bottom: 60px;

    @media (max-width: 1920px) {
      font-size: 17px;
      margin-bottom: 40px;
    }
  }
}

.card__list {
  display: flex;
  flex-direction: row;
  position: relative;

  .rectangle {
    position: absolute;
    z-index: -1;
    right: -195px;
    top: -40%;
    width: 780px;
    height: 580px;
    background: #F7F7F7;
    overflow: hidden;

    @media (max-width: 1920px) {
      height: 500px;
      top: -30%;
    }
  }
}