.header {
  width: 100%;
}

.container {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*****************************************************************************************/
/* HEADER LOGO */
/*******************************************************************************************/

.logo {

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo__img {

      img {
        width: 45px;

        @media (max-width: 1920px) {
          width: 40px;
        }
      }
    }

    .logo__text {
      margin-left: 14px;
    }
  }
}

/*****************************************************************************************/
/* HEADER MENU */
/*******************************************************************************************/

.menu {
  max-width: 435px;
  flex-grow: 1;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {

    a {
      font-family: 'Noto Serif';
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #2C2C2C;

      @media (max-width: 1920px) {
        font-size: 16px;
      }
    }
  }
}

/*****************************************************************************************/
/* HEADER ACCOUNT */
/*******************************************************************************************/

.account {

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .user-icon {
      width: 18px;
      margin-right: 14px;
      cursor: pointer;

      @media (max-width: 1920px) {
        width: 16px;
      }
    }

    .user-name {
      border-right: 1px solid #F1E0DD;
      padding-right: 17px;
      font-family: 'Noto Serif';
      font-size: 18px;
      line-height: 25px;
      color: #2C2C2C;

      @media (max-width: 1920px) {
        font-size: 16px;
      }
    }

    .search-icon {
      width: 20px;
      margin-left: 17px;
      cursor: pointer;

      @media (max-width: 1920px) {
        width: 18px;
      }
    }
  }
}